 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TestCases</h3>
  </div>
<!--   <div class="panel-body"> -->
  <div ng-controller="TestCaseController">
  <br>
   <button type="button" class="btn btn-primary" ng-click = "createTestCase()">Create TestCase</button>
   <!-- <button type="button" class="btn">Basic</button> -->
	<br>  
    <br>
    

    	
  </div>
  

  <div class="panel panel-default">
  <!-- Default panel contents -->
<!--   <div class="panel-heading">Panel heading</div> -->
 
    <table class="table table-striped" ng-controller="TestCaseController">
	     <tr>
		    <th>Name</th>
		    <th>Description</th>
	     </tr>
  		<tr ng-repeat="testcase in testCasesList">
	    <td>{{ testcase.scenarioName }}</td>
	    <td>{{ testcase.scenarioDescription }}</td>
	  	</tr>
	</table>
	</div>
</div>
